<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FTFrame.Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FTFrame.Project.Properties.Settings>
            <setting name="FTFrame_Project_SMS_MobsetApi" serializeAs="String">
                <value>http://sms3.mobset.com:8080/Api</value>
            </setting>
        </FTFrame.Project.Properties.Settings>
    </applicationSettings>
</configuration>