<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--64位机器或office2010以上用ACE驱动，XP系统或更旧的office建议使用MDAC驱动-->
    <add key="OLEDBProvider" value="Microsoft.ACE.OLEDB.12.0"/>
    <!--add key="OLEDBProvider" value="Microsoft.Jet.OLEDB.4.0" /-->
    <!--4.0要求表单功能先建数据表，为与3.0版本和站点兼容，增加该参数，true为新模式，false为兼容3.0模式-->
    <add key="FormDataMode" value="true"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
